In [1]:
import os
import json
import re

In [2]:
questions = ["query_q1a", "query_q1b", "query_q1c", "query_q1d", "query_q2a", "query_q2b", "query_q2c"]
queries = [[] for q in questions]
for nb_file in os.listdir():
    if not nb_file.endswith(".ipynb") or nb_file.startswith("get"):
        continue
    query_q1as = []
    with open(nb_file) as f:
        nb = f.read().replace("\n","").replace("\"", "")
        for question, query_list in zip(questions, queries):
            query = re.findall(question + "\s*?=\s*?'''(.+?)'''", nb)
            query = query[0].replace("\\n,", "")
            query = ' '.join(query.split())
            query_list.append(query)

In [3]:
q1a, q1b, q1c, q1d, q2a, q2b, q2c = queries

In [5]:
q1a

["SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT name, cmte_id, transaction_amt FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id,transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' and name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%'AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'",
 "SELECT cmte_id, transaction_amt, name FROM indiv_sample_nyc WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%'"]